{{- if .Values.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "pgbouncer.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "pgbouncer.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "pgbouncer.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "pgbouncer.selectorLabels" . | nindent 8 }}
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "pgbouncer.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers: 
        {{- toYaml .Values.initContainers | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ include "pgbouncer.pgbouncerVersion" . }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            {{- toYaml .Values.config.deployment.command | nindent 12 }}
          ports:
            - name: pgbouncer
              containerPort: 5432
              protocol: TCP
          livenessProbe:
            successThreshold: {{ .Values.livenessProbe.successThreshold }}
            failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
            exec:
              command: {{- toYaml .Values.livenessProbe.command | nindent 14 }}
          readinessProbe:
            successThreshold: {{ .Values.readinessProbe.successThreshold }}
            failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
            exec:
              command: {{- toYaml .Values.readinessProbe.command | nindent 14 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
          {{- range $key, $value := .Values.environmentVariables }}
          - name: {{ $key }}
            value: {{ $value | quote }}
          {{- end }}
          volumeMounts:
            - name: pgbouncer-userlist
              mountPath: /etc/pgbouncer_temp/
        {{- if .Values.exporter.enabled }}
        - name: pgbouncer-exporter
          image: "{{ .Values.exporter.image.repository }}:{{ .Values.exporter.image.tag }}"
          imagePullPolicy: {{ .Values.exporter.image.pullPolicy }}
          ports:
            - name: metrics
              containerPort: {{ .Values.exporter.port }}
              protocol: TCP
          args:
            - "--web.listen-address=0.0.0.0:{{ .Values.exporter.port }}"
            {{- if .Values.exporter.pgbouncer.password }}
            - "--pgBouncer.connectionString=postgres://{{ .Values.exporter.pgbouncer.user }}:{{ .Values.exporter.pgbouncer.password }}@{{ .Values.exporter.pgbouncer.host }}:{{ .Values.exporter.pgbouncer.port }}/{{ .Values.exporter.pgbouncer.database }}"
            {{- else }}
            - "--pgBouncer.connectionString=postgres://{{ .Values.exporter.pgbouncer.user }}@{{ .Values.exporter.pgbouncer.host }}:{{ .Values.exporter.pgbouncer.port }}/{{ .Values.exporter.pgbouncer.database }}"
            {{- end }}
            {{- range .Values.exporter.extraArgs }}
            - {{ . | quote }}
            {{- end }}
          resources:
            {{- toYaml .Values.exporter.resources | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /
              port: {{ .Values.exporter.port }}
            successThreshold: {{ .Values.exporter.livenessProbe.successThreshold }}
            failureThreshold: {{ .Values.exporter.livenessProbe.failureThreshold }}
            periodSeconds: {{ .Values.exporter.livenessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.exporter.livenessProbe.timeoutSeconds }}
            initialDelaySeconds: {{ .Values.exporter.livenessProbe.initialDelaySeconds }}
          readinessProbe:
            httpGet:
              path: /
              port: {{ .Values.exporter.port }}
            successThreshold: {{ .Values.exporter.readinessProbe.successThreshold }}
            failureThreshold: {{ .Values.exporter.readinessProbe.failureThreshold }}
            periodSeconds: {{ .Values.exporter.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.exporter.readinessProbe.timeoutSeconds }}
            initialDelaySeconds: {{ .Values.exporter.readinessProbe.initialDelaySeconds }}
        {{- end }}
      volumes:
        - name: pgbouncer-userlist
          configMap: 
            name: {{ include "pgbouncer.fullname" . }}-configmap
            items:
              - key: pgbouncer_userlist.txt
                path: userlist.txt
              {{- if .Values.config.init.enabled }}
              - key: pgbouncer.ini
                path: pgbouncer.ini
              {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
{{- end }}
