{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "pgbouncer.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "pgbouncer.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 5432
      targetPort: pgbouncer
      protocol: TCP
      name: pgbouncer
    {{- if .Values.exporter.enabled }}
    - port: {{ .Values.exporter.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
    {{- end }}
  selector:
    {{- include "pgbouncer.selectorLabels" . | nindent 4 }}
{{- end }}